html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		link(rel="stylesheet", href="/css/boostwatch-flatly.css")
		link(rel="stylesheet", href="/css/bootstrap-formhelpers.css")
		link(rel="stylesheet", href="/css/bootstrap-formhelpers.min.css")
		script(src="/js/bootstrap-formhelpers.min.js")
		script(src="/js/bootstrap-formhelpers.js")

		script(src="/js/jq_buildme.js")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		//- script(type="text/javascript",src="https://www.gstatic.com/charts/loader.js")
	body 
		include navbar.pug
		div.container-fluid(style="margin-top:6%;text-align:center")