html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="/js/jq_home.js")
		link(rel="stylesheet", href="/css/boostwatch-flatly.css")
		link(rel="stylesheet", href="/css/bootstrap-formhelpers.css")
		link(rel="stylesheet", href="/css/bootstrap-formhelpers.min.css")
		script(src="/js/bootstrap-formhelpers.min.js")
			script(src="/js/bootstrap-formhelpers.js")
		link(rel="stylesheet", href="/css/style.css")
		script(src="https://maps.googleapis.com/maps/api/js?callback=myMap")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body 
		include navbar.pug
		div.container-fluid(style="margin-top:5%")