include base.pug
div(align='center')
  div.panel.panel-primary(style="width:40%",align='center')
    div.panel-heading Get Started - it's free.
    div.panel-body
      h2 Contractor
      form(action='/contractor-signup', method='post')
        div.form-group(style="margin-top:3%")
          input.form-control(type="text", id="inputname", name = "name", placeholder="Name",)
        div.form-group
          input.form-control(type="text", id="inputcompanyName", name="companyName", placeholder="Company Name",)
        div.form-group
          input.form-control(type="text", id="inputlicenseNumber", name="licenseNumber", placeholder="License Number",)
        div.form-group
          input.form-control(type="text", id="inputphoneNumber", name="phoneNumber", placeholder="Phone Number",)
        div.form-group
          input.form-control(type="text", id="inputemail", name="email", placeholder="Email",)
        div.form-group
          input.form-control(type="text", id="inputpassword", name="password", placeholder="Passowrd",)
        button.btn.btn-primary.btn-block Sign Up
    div.panel-footer By clicking Sign Up, you agree to the BuildMe User Agreement, Privacy Policy, and Cookie Policy.
