div#dlgLogin.ui-dialog(title="Login")
	div.form-group
		label(for="email") Email address:
		input.form-control(type="text",id="loginEmail",placeholder="Email address",)
	div.form-group
		label(for="email") Password:
		input.form-control(type="Password",id="loginPwd",placeholder="Password",)
	button.btn.btn-block Forgot Password?