link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js")