include base.pug
div(align='center')
  div.panel.panel-primary(style="width:40%",align='center')
    div.panel-heading Get Started - it's free.
    div.panel-body(style="width:80%")
      div.btn-group(style="width:100%")
        button.btnUserType.btn.btn-default.col-lg-12 Homeowner
      form(action='/homeowner-signup',method='post')
        div.form-group(style="margin-top:3%")
          input.form-control(type="text", id="inputFname", name = "firstName", placeholder="First Name",)
        div.form-group
          input.form-control(type="text", id="inputLname", name="lastName", placeholder="Last Name",)
        div.form-group
          input.form-control(type="text", id="inputzipcode", name="zipcode", placeholder="Zipcode",)
        div.form-group
          input.form-control(type="text", id="inputEmail", name="email", placeholder="Email",)
        div.form-group
          input.form-control(type="text", id="inputpassword", name="password", placeholder="Password",)
        button.btn.btn-primary.btn-block Sign Up
    div.panel-footer By clicking Sign Up, you agree to the BuildMe User Agreement, Privacy Policy, and Cookie Policy.
