extends layout.pug
block content
	div.container-fluid.text-center.content
		h1(align='center') Welcome to BuildMe!
		div
			p(align='center') Need something fix?
		div
			a(href="/howitworks") More


