include base.pug
div.container
if projects
each project in projects
 div.panel.panel-success(id=project.id,style="width:90%;margin:2% 5% 2% 5%")
   div.panel-heading='Created By: ' + project.hoID
   div.panel-body
    div=project.jobDesc
    div=project.street + "," + project.city + " " + project.state + " " + project.zipcode