extends layout.pug
block content
  div.content.container.text-center
    div
      if (search)
        h1.bg-success search 
    div.well
      if (jobs.length == 0)
        h1.row='There is no new job yet.'
      else if (jobs.length == 1)
        h1.row='There is ' + jobs.length + ' job.'
      else
        h1.row='There are ' + jobs.length + ' jobs.'
    hr
    div.col-lg-3.well.pull-right(style="")
      include searchbox.pug
    div.col-lg-9
