html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block title 
			title Build Me
		block scripts
			include source.pug
	body
		block top
			include navbar.pug
		block content
		block foot
			include footer.pug