extends layout.pug
block title 
  title Login
block content
  div.content(align='center',style="padding:3%")
    div.panel.panel-success(style="width:40%;margin-top:3%;",align='center')
      div.panel-heading.bg-danger Please enter your account information:
      div.panel-body
        if error
         div.bg-danger(style="margin:2%") Error : Email or password not match.
        ul.nav.nav-tabs
          li.active
            a(data-toggle="tab",href="#homeowner")
             span.glyphicon.glyphicon-home
             span.glyphicon.glyphicon-user Homeowner
          li
            a(data-toggle="tab",href="#contractor")
             span.glyphicon.glyphicon-wrench
             span.glyphicon.glyphicon-user  Contractor
        div.tab-content(style="padding-top:5%")
         div#homeowner.tab-pane.active
          form(action='/login', method='post')
           input.hidden(name="usertype", value="homeowner")
           div.form-group
            input.form-control(name="email",placeholder="Email",)
           div.form-group
            input.form-control(type= "password", name="pass",placeholder="Password")
           button.btn.btn-success.btn-block Login
         div#contractor.tab-pane
          form(action='/login', method='post')
           input.hidden(name="usertype",value="contractor")
           div.form-group
            input.form-control(name="email",placeholder="Email")
           div.form-group
            input.form-control(type="password",name="pass",placeholder="Password")
           button.btn.btn-primary.btn-block Login
        button.btn.btn-block Forgot Password?
