include base.pug
div(align='center')
  div.panel.panel-success(style="width:40%;margin-top:3%",align='center')
    div.panel-heading.bg-danger Please enter your account information:
    div.panel-body
      if error
       div.bg-danger(style="margin:2%") Error : Email or password not match.
      ul.nav.nav-tabs
        li.active
          a(data-toggle="tab",href="#homeowner")
           span.glyphicon.glyphicon-home
           span.glyphicon.glyphicon-user Homeowner
        li
          a(data-toggle="tab",href="#contractor")
           span.glyphicon.glyphicon-wrench
           span.glyphicon.glyphicon-user  Contractor
      div.tab-content(style="padding-top:5%")
       div#homeowner.tab-pane.active
        form(action='/homeowner/dashboard', method='post')
         div.form-group
          input.form-control(name="home_email",id="home_email",placeholder="Email",)
         div.form-group
          input.form-control(type= "password", name="home_pass",id="home_pass",placeholder="Password")
         button.btn.btn-success.btn-block Login
       div#contractor.tab-pane
        form(action='/contractor/dashboard', method='post')
         div.form-group
          input.form-control(name="con_email",id="con_email",placeholder="Email")
         div.form-group
          input.form-control(type="password",name="con_pass",id="con_pass",placeholder="Password")
         button.btn.btn-primary.btn-block Login
      button.btn.btn-block Forgot Password?
