.navbar.navbar-inverse
   div.container-fluid
     div.navbar-header
        a.navbar-brand(href="/") BuildMe
     ul.nav.navbar-nav
        li 
           a(href="/howitworks") How it Works
        li 
           a(href="/dashboard") Dashboard
        li 
           a(href="/jobs") Jobs
        li 
           a(href="/searchajob") Search A Job
     form.navbar-form.navbar-left
        div.form-group
           input.form-control(placeholder="Search A Job")
        button.btn.btn-primary(type="submit") Submit
     ul.nav.navbar-nav.navbar-right
        li 
          a(href="/signup")
            span.glyphicon.glyphicon-user   SignUp
        li 
           a 
            span.glyphicon.glyphicon-log-in  Login