.panel-heading{
    font-weight:bold;
}
.panel-body{
    padding: 3% 10% 3% 10%;
}

/* Dropdown Button */
.dropbtn {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    width:150%;
    z-index: 10;
    right: 0; 
    left: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:2%;
}

/* Links inside the dropdown */
.dropdown-content a {
    color:white;
    /*background-color: black*/
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}

#sidebar{
     /*font-size: 1.5vw;*/
     /*z-index: 1000;*/
    /*position: fixed;*/
    /*left: 250px;*/
    /*width: 0;*/
    /*height: 100%;*/
    /*margin-left: -250px;*/
    overflow-y: auto;
    /*background: lightblue;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*margin-top: 1%;*/
    /*padding:0;*/
}

.sidebar .list-group-item{
    padding-left:0;
    padding-right:0;
}

.sidebar .list-group-item{
    font-size:1.5vw;
}

 


.avatar{
    border-radius: 100%;
    height:4.5vw;
    width:4.5vw;
    font-size:2vw;
    /*background-color: grey;*/
}

.btn{
    font-weight: bold;
}


.form-group.required .control-label:after {
  content:"*";
  color:red;
}


.datepicker{
  /*position: relative; z-index: 100000;*/
}


.panel-job{

  margin:1% auto 0 auto;
  /*width:75%;*/
}

#sidebar i {

   float: left;

}

#sidebar .badge{
    float:right;
}

/*.container{

   width: 80%;

}*/
.content{
  margin-top:7%;
  min-height:80%;
}

.progress-bar-vertical {
  /*width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  float: left;*/
}

 .progress-bar-vertical .progress-bar {
 /* width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;*/
}

.progress-bar div{
    padding-top:5%;
    font-size:1.5vw;
    color:black;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 33%;
}
.navbar-brand {float:none;}


/* from https://davidwalsh.name/css-flip*/

/*.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }


.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

}

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}*/




.panel-bid .barChart{

    width:30%;
    margin:1%;
    display:inline-block;
}

.panel-bid .legend{

  font-weight: bold;
  font-size:1.2vw;

}

.panel-footer.time{
  padding:0 5px 0 5px;
}
