include dashboard.pug
div.col-sm-9.col-md-10.col-sm-offset-3.col-md-offset-2
  form.form-horizontal.col-lg-11(action="/homeowner/createjob",method="post")
   fieldset
    legend Creat A project
    div.form-group
      lable.col-lg-2.control-label(for="proj_desc") Project Description
      div.col-lg-10
       textarea.form-control(name="proj_desc",placeholder="Project Description")
    div.form-group
      lable.col-lg-2.control-label(for="proj_img") Upload Images
      div.col-lg-10
        input.form-control(type="file",name="pproj_img")
    div.form-group
      lable.col-lg-2.control-label(for="proj_vd") Upload Video
      div.col-lg-10
        input.form-control(type="file",name="pproj_vd")
    div.form-group
      lable.col-lg-2.control-label Address
      div.col-lg-10.row
        div.col-lg-6
         input.form-control(type="text",name="proj_street",placeholder="Street")
        div.col-lg-6
          input.form-control(type="text",name="proj_city",placeholder="City")
    div.form-group
      lable.col-lg-2.control-label(for="proj_state") State
      div.col-lg-10.row
        div.col-lg-6
          select.bfh-select-fix.bfh-states.form-control(data-country="US",name="proj_state")
        div.col-lg-6
          input.form-control.numeric(type="text",name="proj_zip",placeholder="Zipcode")
    div.form-group
      div.col-lg-10.col-lg-offset-2
        button.btn.btn-default.col-lg-2(type="reset") Cancel
        button.btn.btn-primary.col-lg-2(id="btnSubmit") Submit
