extends /layout.pug
block title
	title=user.firstName + "'s dashboard"
block append scripts
	script(src="/js/jq_homeowner.js")
	script(type="text/javascript",src="https://www.gstatic.com/charts/loader.js")
block content
	div.content.container
		div.col-lg-3
			block left
				include sidebar.pug
		div.col-lg-9
			block right

