include /base.pug
div.container-fluid
    div.row
       div.col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href="#") Pending Jobs
            li
              a(href="#") Create a Job
            li
              a(href="#") Overview
            li
              a(href="#") Profile
            li
              a(href="#") Message
            li