extends  dashboard.pug
block title
  title Create A Job
block right
  form.form-horizontal.col-lg-11.well(action="/homeowner/newjob",method="post")
   fieldset
    div.form-group.required
      label.col-lg-2.control-label(for="jobDesc") Project Description
      div.col-lg-10
       textarea.form-control(name="jobDesc",rows="5",placeholder="Project Description")
    div.form-group
      label.col-lg-2.control-label(for="img") Upload Images
      div.col-lg-10
        input.form-control(type="file",name="img")
    div.form-group
      label.col-lg-2.control-label(for="video") Upload Video
      div.col-lg-10
        input.form-control(type="file",name="video")
    div.form-group
      label.col-lg-2.control-label(for="days") When needed
      div.col-lg-10
        div.col-lg-6.form-group 
          input.form-control.datepicker(type="text",name="days",placeholder="Choose A Date")    
    div.form-group.required
      label.col-lg-2.control-label Street
      div.col-lg-4
        input.form-control(type="text",name="street",placeholder="Street")
      label.col-lg-2.control-label City
      div.col-lg-4
        input.form-control(type="text",name="city",placeholder="City")
    div.form-group.required
      label.col-lg-2.control-label(for="state")  State
      div.col-lg-4
        select.bfh-select-fix.bfh-states.form-control(data-country="US",name="state")
      label.col-lg-2.control-label(for="state") Zipcode
      div.col-lg-4
        input.form-control.numeric(type="text",name="zipcode",placeholder="zipcode",maxlength="6")
    div.form-group
      label.col-lg-2.control-label
      div.col-lg-10
        button.btn.btn-default.col-lg-3(type="reset") Reset
        button.btn.btn-success.col-lg-3(id="btnSubmit")
          i.fa.fa-plus-square
          span Create
    if error
     div.form-group
       label.col-lg-offset-2.col-lg-8.control-label Job Description and address required
