extends dashboard.pug
block append scripts
	script(type="text/javascript",src="/javascripts/barchart.js")
block right
	div.col-lg-12 
		div.panel.panel-info(style="height:50vh;padding:0")  
		div.h3.text-center Jobs and Bids
		div.panel-body#jobbids(style="height:80%;padding:0;overview:auto")
	div.col-lg-12
		div.panel.panel-info(style="height:50vh;padding:0;")
		div.h3.text-center Process of jobs started
		div.panel-body#jobprocess(style="height:80%;padding:0;overview:auto")
 //- div.col-lg-6 
 //-  div.panel.panel-info(style="height:50vh;padding:0")  
 //-   div.h2.text-center Reviews
 //- div.col-lg-6 
 //-  div.panel.panel-info(style="height:50vh;padding:0")  
 //-   div.h2.text-center Points
   
