script(type="text/javascript",src="https://www.gstatic.com/charts/loader.js")
script(type="text/javascript",src="/javascripts/barchart.js")
include dashboard.pug
div#overview.col-sm-9.col-md-10.col-sm-offset-3.col-md-offset-2
 div.col-lg-6 
  div.panel.panel-info(style="height:50vh;padding:0")  
   div.h2.text-center Jobs
 div.col-lg-6 
  div.panel.panel-info(style="height:50vh;padding:0;overview:auto")
   div.h2.text-center Process of jobs started
   div.panel-body#jobprocess(style="height:80%;padding:0")
 div.col-lg-6 
  div.panel.panel-info(style="height:50vh;padding:0")  
   div.h2.text-center Jobs
 div.col-lg-6 
  div.panel.panel-info(style="height:50vh;padding:0")  
   div.h2.text-center Jobs
   
