div.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar.list-group.table-of-contents
    li.list-group-item
      a.btn(href="/homeowner/pendingjobs")
       i.fa.fa-tasks &nbsp;&nbsp; Pending Jobs
    li.list-group-item
      a.btn(href="/homeowner/createjob")
       i.fa.fa-plus-square-o &nbsp;&nbsp; Create a Job
    li.list-group-item
      a.btn(href="/homeowner/completedjobs")
       i.fa.fa-check-circle &nbsp;&nbsp; Completed Jobs
    li.list-group-item
      a.btn(href="/homeowner/overview")
       i.fa.fa-bar-chart &nbsp;&nbsp; Overview
    li.list-group-item
      a.btn(href="/homeowner/message") 
       i.fa.fa-envelope &nbsp;&nbsp; Message
    li.list-group-item
      a.btn(href="/homeowner/profile") 
       i.fa.fa-address-card-o &nbsp;&nbsp; Profile