div.col-sm-3.col-md-2#sidebar
  ul.nav.nav-sidebar.list-group.table-of-contents
    li.list-group-item
      a.btn(href="/homeowner/jobsbidding")
       i.fa.fa-gavel &nbsp;&nbsp; Bidding Jobs
    li.list-group-item
      a.btn(href="/homeowner/createjob")
       i.fa.fa-plus-square-o &nbsp;&nbsp; Create a Job
    li.list-group-item
      a.btn(href="/homeowner/joboffered")
       i.fa.fa-tasks &nbsp;&nbsp; Jobs Offered
    li.list-group-item
      a.btn(href="/homeowner/jobstarted")
       i.fa.fa-tasks &nbsp;&nbsp; Jobs Started 
    li.list-group-item
      a.btn(href="/homeowner/jobcompleted")
       i.fa.fa-check-circle &nbsp;&nbsp; Jobs Completed 
    li.list-group-item
      a.btn(href="/homeowner/overview")
       i.fa.fa-bar-chart &nbsp;&nbsp; Overview
    li.list-group-item
      a.btn(href="/homeowner/message") 
       i.fa.fa-envelope &nbsp;&nbsp; Message
    li.list-group-item
      a.btn(href="/homeowner/points") 
       i.fa.fa-star &nbsp;&nbsp; Points
    li.list-group-item
      a.btn(href="/homeowner/profile") 
       i.fa.fa-address-card-o &nbsp;&nbsp; Profile