html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		include ./source.pug
        script(src="/js/jq_homeowner.js")
	body 
		include navbar.pug
		div.container-fluid(style="margin-top:6%;text-align:center")