div#modal_bid.modal.fade(role="dialog")
 div.modal-dialog 
  div.modal-content
   div.modal-header.bg-warning
    span
     i.fa.fa-gavel   Bid on the job:
    a.close(data-dismiss="modal") X 
   div.modal-body.row(style="height:80vh;padding-top:2%")
    form(method="post",action="/jobs")
     div#jobInfo.col-lg-12
     div#biddingForm.col-lg-12(style="height:55vh;overflow:auto;")
       div.col-lg-6.form-group.required 
          label.control-label(for="cost") Estimate Cost (Dollars) :
          input.form-control.numeric(type="text",name="estCost",placeholder="Cost ($)",)
       div.col-lg-6.form-group.required
          label.control-label(for="days") Est. Days:
          input.form-control.numeric(type="text",name="estDays",placeholder="0 Days (d)")

       div.col-lg-6.form-group.required 
          label.control-label(for="hours") Est. Hours:
          input.form-control.numeric(type="text",name="estHours",placeholder="0 Hours (h)")
       div.col-lg-6.form-group.required 
          label.control-label(for="date") Avaliable Start Date:
          input.form-control#datepicker.date.datepicker(type="text",name="startDate",placeholder="Choose A Date")
       div.col-lg-12.form-group 
        label.control-label(for="comment") Comment:
        textarea.form-control(name="comment",rows="4",type="text",placeholder="Please explain why you are good fit for this job.")
       div.col-lg-12.form-group
        label.control-label(for="file") Proposal 
        input.form-control(name="proposal",type="file",)

     div.col-lg-12
      button#btnBid.btn.btn-md.btn-warning.col-lg-6(style="color:black;",type="submit") Submit
      a.btn.btn-default.btn-md.col-lg-6(data-dismiss="modal",type="reset") Cancel
   //- div.modal-footer
     
     