div#modal_delete_bid.modal.fade(role="dialog")
 div.modal-dialog 
  div.modal-content
   div.modal-header.bg-danger
    span Are you sure withdraw this bid?
    a.close(data-dismiss="modal") X 
   div.modal-body.row
   div.modal-footer 
    form(action="",method="delete")
     button.btn.btn-sm.btn-danger Delete
     a.btn.btn-default.btn-sm(data-dismiss="modal") Cancel
