nav.navbar.navbar-default.navbar-fixed-top#navbar
   div.container-fluid
     div.navbar-header.col-sm-3.col-md-2
        a.navbar-brand(href="/") BuildMe
     ul.nav.navbar-nav
        li
           a(href="/howitworks") How it Works
        li
           a(href="/jobs") Jobs
        li.dropdown#searchDropdown
          a.dropdown-toggle(data-toggle="dropdown") Search A Job
           span.caret
          div.dropdown-menu(style="width:40vw;")
            include ./searchbox.pug
        li
          a(href="/contractor/dashboard") Dashboard
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.btn.dropbtn
           span.glyphicon.glyphicon-user 
            span=session.user.firstName + "  "
            span=session.user.lastName
          form(action="/logout",methoud="post")  
           div.dropdown-content(style="width:15vw")
             button.btn.btn-success.btn-block Logout





