extends dashboard.pug
block title
	title overview
block right
	div.col-lg-6 
		div.panel.panel-info(style="height:40vh;")  
			div.h2.text-center Jobs Bidding
	div.col-lg-6 
		div.panel.panel-info(style="height:40vh")
			div.h2.text-center Bids Won
	div.col-lg-6 
		div.panel.panel-info(style="height:40vh")
			div.h2.text-center Jobs Started
	div.col-lg-6 
		div.panel.panel-info(style="height:40vh") 
			div.h2.text-center Jobs Completed
