div.col-sm-3.col-md-2#sidebar
  ul.nav.nav-sidebar.list-group.table-of-contents
    li.list-group-item
      a.btn(href="/contractor/bidding")
       i.fa.fa-gavel &nbsp;&nbsp; Jobs Bidding
    li.list-group-item
      a.btn(href="/contractor/bidswon")
       i.fa.fa-trophy &nbsp;&nbsp; Bids Won
    li.list-group-item
      a.btn(href="/contractor/jobsstarted")
       i.fa.fa-tasks &nbsp;&nbsp; Jobs Started
    li.list-group-item
      a.btn(href="/contractor/jobscompleted")
       i.fa.fa-check-circle &nbsp;&nbsp; Jobs Completed
    li.list-group-item
      a.btn(href="/contractor/overview")
       i.fa.fa-bar-chart &nbsp;&nbsp; Overview
    li.list-group-item
      a.btn(href="/contractor/message") 
       i.fa.fa-envelope &nbsp;&nbsp; Message
    li.list-group-item
      a.btn(href="/contractor/points") 
       i.fa.fa-star &nbsp;&nbsp; Points
    li.list-group-item
      a.btn(href="/contractor/profile") 
       i.fa.fa-address-card-o &nbsp;&nbsp; Profile